#chat{
	height:450px;
	background-color: lightgrey;
	
}
#contentWrap{
	display: none;
} /*dont want users to start submitting before username*/
#chatWrap{
	float: left;
	border: 3px solid lightblue;
	border-radius: 9px;
}
#send-message{
	background-color: lightgrey;
}
.error{
	color: red;
}
.whisper{
	color:gray;
	font-style: italic;
}